@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Montserrat:wght@100&family=Open+Sans:ital,wght@0,300;1,300&family=Varela&family=Varela+Round&display=swap');

.sectionFour{
    text-align:left;
}
.sectionFourH6{
    color: #808080;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: italic;
    
}
.section-four-btn{
    background-color: #df1212;
    color: white;
    border: none;
    padding: 20px 43px 20px 42px;
    letter-spacing: 2px;
    border-radius: 5px;
    text-align: center;
}
.section-four-btn:hover{
    background-color: black;
}
.sectionFourCont{
   
    padding: 100px 300px;
}
.sectionFourForm{
    width: 400px;
    height:350px ;
    background-color: #df1212;
    position: absolute;
    top: 550px;
    left: 250px;
}
.sectionFourImg{
    position: relative;

}
.fourImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sectionFourForm{
    padding: 20px;
    color: white;
    
}
.fourH6{
    margin:20px;
    font-size: larger;
    
}