@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,400;1,300&family=Open+Sans:wght@300&family=Varela&family=Varela+Round&display=swap");

.navbar {
  height: 60px;
  display: flex;
  background: #df1212;
  position: fixed;
  z-index: 1;
  width: 100%;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.navbar.active {
  opacity: 0.75;
}
.navItems1 a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
  font-family: "Montserrat" sans-serif;
}
.navItems a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
  font-family: "Montserrat" sans-serif;
}

.bar {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .navItems {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #df1212;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 1;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 70px;
  }

  .bar {
    visibility: visible;
    color: white;
  }
  .navItems1 {
    display: none;
  }
  .navItems1 a {
    font-size: 1px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
}
