.sectionTwo{
    background-color: #e0e5eb;
    position: relative;
    height: 650px;
}
.sectionTwoTitle{
    text-align: center;
    font-size: 3rem;
    font-family: "Montserrat" sans-serif;
    letter-spacing: 1.5px;
}
.sectionTwoRedBg{
    position: absolute;
    background-color: #df1212;
    top: 350px;
    height: 300px;
    width: 100%;
}
.sectionTwoCard{
    display: flex;
    justify-content:space-evenly;
    margin-top: 100px;
    
}
.cardOne{
    margin-top: 100px;
    height: 200px;
}
.cardTwo{
   
    height: 200px;
}
