@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap");
.sectionTwo {
  background-color: #e0e5eb;
  position: relative;
  height: 650px;
}
.sectionTwoTitle {
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat" sans-serif;
  letter-spacing: 1.5px;
  font-weight: 450;
  letter-spacing: 1.5px;
}
.sectionTwoRedBg {
  position: absolute;
  background-color: #df1212;
  top: 250px;
  height: 300px;
  width: 100%;
}
.sectionTwoCard {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.cardOne {
  margin-top: 100px;
  height: 200px;
}
.cardTwo {
  height: 200px;
}
@media only screen and (max-width: 600px) {
  .sectionTwoTitle {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Montserrat" sans-serif;
    letter-spacing: 1.5px;
    margin-top: -300px;
    margin-bottom: 50px;
  }
  .sectionTwo {
    background-color: #e0e5eb;
    position: relative;
    height: 1400px;
  }
  .sectionTwoCard {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .cardOne {
    height: 300px;
    margin-top: 0;
  }
  .cardTwo {
    height: 300px;
  }
  .sectionTwoRedBg {
    position: absolute;
    background-color: #df1212;
    top: 250px;
    height: 1180px;
    width: 100%;
  }
}
